{% extends 'blog/base.html' %} <!-- base.html 상속 받음 -->


    {% block content %} <!-- 수정하고 싶은것만 수정 -->
        {% for post in posts %} <!-- Template Engine 문법 -->
            <div class="post">
                <div class="date">
                    <p>Published : {{ post.published_date }}</p>
                </div>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title|title }}</a></h2> <!-- lower >> 소문자, title >> 대문자 변경 -->
                <p>{{ post.text|linebreaksbr }}</p> <!-- linebreaksbr >> \n를 구분해서 표시해주는 속성 -->

                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{post.approved_comments.count}}</a>
            </div>
        {% empty %} <!-- Template Engine 문법 -->
            <div>요청하신 Post가 존재하지 않습니다.</div>
        {% endfor %}
    {% endblock %}